/* Ensure the body takes up full height and width */
html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}



/* .form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
} */
