*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Georgia, serif;
}

.main{
  width: 100%;
  height: 100vh;
  overflow: hidden; 
  position: relative;
}

video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Ensures the video stays in the background */
  pointer-events: none;
}

video::-webkit-media-controls {
  display: none !important; /* Hide controls in WebKit browsers */
}

video::-webkit-media-controls-enclosure {
  display: none !important; /* Hide any controls enclosure in WebKit browsers */
}

video::-webkit-media-controls-play-button {
  display: none !important; /* Hide play button in WebKit browsers */
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;  /* Ensures the video stays in the background */
  pointer-events: none;  /* Disables any user interaction with the video */
}

 .content{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(203, 119, 10);
  padding: 20px; /* Some padding for smaller screens */
  z-index: 1;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
}

form div {
  margin-bottom: 15px;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
  color: white;
}

input {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: #3dab46;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #3e8242;
} 


.greeting, .random-message, .form-container h1, .form-container label, .smile-container {
  color: white; /* Set a default text color */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Adds a dark shadow to text */
}

img {
  max-width: 100%;
  height: auto;
}

/* Responsive Styling */

/* For tablet screens (768px and smaller) */
@media (max-width: 768px) {
  .content {
    padding: 10px;
    text-align: center;
  }

  .form-container {
    padding: 15px;
    max-width: 90%;
  }

  input, button {
    font-size: 16px;
  }

  h1 {
    font-size: 1.8rem;
  }
}

/* For mobile screens (480px and smaller) */
@media (max-width: 480px) {
  .content {
    padding: 10px;
    text-align: center;
  }

  .form-container {
    padding: 10px;
    max-width: 90%;
  }

  input, button {
    font-size: 14px;
  }

  h1 {
    font-size: 1.5rem;
  }

  label {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  
  .greeting, .random-message, .form-container h1, .form-container label, .smile-container  {
    color: rgb(203, 119, 10); /* Set a default text color */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Adds a dark shadow to text */
    text-align: center;
    align-items: center;
  }
}

